<!doctype html>
<html>
    <head>
        <title>Home page</title>
    </head>
    <body>
        <h1>Home Page!</h1>
        <form action="/action_page.php">
            <label for="fname">Your name:</label><br>
            <input type="text" id="fname" name="fname"><br>
            <label for="lname">Your pet's name:</label><br>
            <input type="text" id="lname" name="lname"><br><br>
            <label for="fname">Has it been vaccinated?</label><br>
            <input type="text" id="fname" name="fname"><br>
            
            <input type="submit" value="Submit">
          </form> 
    </body>
</html>